<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="forms.css">
</head>

<body>
    <%- include('includes/header.ejs') %>
        <main>
            <form action="/add-product" method="post">
                <label for="title">Product title</label>
                <input type="text" name="title" id="product-title">

                <label for="price">Price</label>
                <input type="number" name="price" id="product-price">

                <label for="description">Description</label>
                <textarea name="description" id="product-description" cols="30" rows="10"></textarea>

                <button type="submit">Send</button>
            </form>
        </main>
</body>

</html>